    /* reglas
selectores 
declaraciones 
propiedades 
 background-image:url(../Images/hero.jpg) ;
valores */
/* header{
    background: pink;
} */

/* 
selector de etiqueta header-footer blablabla
selector descendente para ir a buscar hijos 
body header div nav ol li a 
class todos los que tienen clase se marcan con un punto! así .linked
id: elemento unico 
#yonoseque
*/



body{
    font-family: "Source Sans Pro",sans-serif;
} 

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Fjalla One",Times;
    /* font-style: italic; */
}
h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    text-transform: capitalize;
    text-decoration: dashed;
    color: white;
    
}
h1 strong{
    color: #026fff;
}
.project-details{
    width: 500px;
}
.project-image-Container{
    width: 500px;
}

.hero{
    height: 300px;
    background-position-x:right ;
    background-color:#1b2127 ;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.imagenprincipaldelsitio{
object-fit: cover;
}

figure{
    margin: 0;
}
.menú{
    height: inherit;
}
.header ol{
    display: flex;
    height: inherit;
    align-items: center;

}
.header ol li{
    height: inherit;
    ;
}
.header a{
    display:flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}
.header{
background-color: #1b2127;  
color: white;  
display: flex;
justify-content: space-between;
height: 70px;
align-items:center;
}
.header a{
    color: white;
    text-decoration: none;
}

.proyecto{
   border: 1px solid gray;
   border-radius: 10px;
}
ol,ul{
    margin: 0 ;
    padding: 0;
    list-style: none;
}

.footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.footer image{
    vertical-align: center;
}
.footer a{
    color:white
}
.event-list{
    display: flex;
    }
    
.event{
margin: 10px;
width: 480px;
height: 359px;
border-radius: 10px;
overflow: hidden;
flex-shrink: 0;
background:#f4fbff;

}

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}
.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
    font-size: medium;
}
.event-description{
    text-align: left;
}
.event-url{
    color:#056fff;
    border: 1px solid ;
    padding:5px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.jelow{
    display: inline;
}

.contact{
    background-color: #056fff;
    color:white;
    height: 150px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.social{

}
.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px ;
    margin: 0 10px;
}
.social-link.twitter{
    background-image:url("../Images/twitter.svg") ;
 
}
.social-link.facebook{
    background-image:url("../Images/fb.svg") ;
    

}
.social-link.github{
    background-image:url("../Images/github.svg") ;
   
}
.social-link.instagram{
    background-image:url("../Images/ristrigin.svg") ;
    
}
.form-email input{
border-color:gray;
padding: 5px 20px;
border-style: solid;
}
.form-email button{
    display:block;
    margin-top: 5px;
    background: transparent;
    color: white;
    padding: 10px 0px;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;

}
.letras5{
    font-size: large;
}
.wraper{
width: 1000px;
margin: 0 auto;
display: inherit;
justify-content: inherit;
align-items: inherit;
height: inhe;
}