    /* reglas
selectores 
declaraciones 
propiedades 
valores */
/* header{
    background: pink;
} */

/* 
selector de etiqueta header-footer blablabla
selector descendente para ir a buscar hijos 
body header div nav ol li a 
class todos los que tienen clase se marcan con un punto! así .linked
id: elemento unico 
#yonoseque
*/



body{
    font-family: "Source Sans Pro",sans-serif;
} 

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Fjalla One",Times;
    /* font-style: italic; */
}
h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    text-transform: capitalize;
    text-decoration: dashed;
}
.project-details{
    width: 500px;
}
.project-image-Container{
    width: 500px;
}

.hero{
    height: 300px;
}